{% extends 'studenttemplate/studentbase.html' %}
{% block content%}
<table class="table">
    <thead class="table table-striped">
    <tr>
        <th scope="col">NO</th>
        <th scope="col">EVENT NAME</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">EVENT DATE</th>
        <th scope="col">START TIME</th>
        <th scope="col">END TIME</th>
        <th scope="col">CLUB</th>
        <th scope="col">STAFF INCHARGE</th>




    </tr>
    </thead>
   <tbody>

        {% for i in event %}
    <tr>
         <td>{{forloop.counter}}</td>
         <td>{{ i.event_name}} </td>
         <td>{{i.description}}  </td>
        <td>{{i.event_date}}  </td>
        <td>{{i.start_time}}  </td>
        <td>{{i.end_time}}  </td>
                 <td>{{i.club1}}  </td>
                 <td>{{i.club1.staff_incharge.name1}}  </td>



    </tr>
   {% endfor %}
   </tbody>
</table>
{% endblock %}
