{% extends 'studenttemplate/studentbase.html' %}
{% block content %}

<!--<table class="table">-->
<!--    <thead class="table table-striped">-->
<!--    <tr>-->
<!--        <th scope="col">NO</th>-->
<!--        <th scope="col">CLUB NAME</th>-->
<!--        <th scope="col">STAFF INCHARGE</th>-->
<!--        <th scope="col">CLUB LOGO</th>-->

<!--    </tr>-->
<!--    </thead>-->
<!--   <tbody>-->


<!--        <div class="card">-->


<!--    <tr>-->
<!--         <td>{{forloop.counter}}</td>-->
<!--         <td>{{ i.club_name}} </td>-->
<!--         <td>{{i.staff_incharge}}  </td>-->
<!--         <td><img src="{{i.club_logo.url}}" width="80" height="100"/> </td>-->

<!--    </tr>-->
<!--    </div>-->
<!--<tr>-->
  <div class="row">
      {% for i in view %}
  <div class="col-sm-3">
    <div class="card">
    <img src="{{ i.club_logo.url }}" style="width:248px;height:160px;">
      <div class="card-body">
            <p class="card-text">{{ forloop.counter }}</p>
            <h4 class="card-title">{{ i.club_name }}</h4>
            <h6 class="card-title">{{ i.staff_incharge }}</h6>
<!--        <a href="" class="btn btn-primary">Events</a>-->

      </div>
    </div>
  </div>
      {% endfor %}
  </div>

{% endblock %}>