{% extends 'teachertemplate/teacherbase.html' %}
{% block content %}


  <div class="row">
      {% for i in view %}
  <div class="col-sm-3">
    <div class="card">
    <img src="{{ i.club_logo.url }}" style="width:248px;height:160px;">
      <div class="card-body">
            <p class="card-text">{{ forloop.counter }}</p>
            <h4 class="card-title">{{ i.club_name }}</h4>
            <h6 class="card-title">{{ i.staff_incharge }}</h6>

    {% if i.staff_incharge.name1 == request.user %}

        <a href="{% url 'tchreventdetails' i.id  %}" class="btn btn-primary">Events</a>
       {% else %}

          <h6 style="color:red">you cant create an event</h6>
          {% endif %}
      </div>
    </div>
  </div>
      {% endfor %}
  </div>


{% endblock %}

